*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.heading-msg h3{
    float: left;
    padding-left: 10px;
    font-style: italic;
}
.navbar ul li {
    float: left;
    list-style-type: none;
    padding: 0px 23px 0px 0;
    font-size: 20px;
    background-color: transparent;
    overflow: hidden;
    color: rgb(219, 74, 43);
}
.navbar ul{
    padding:28px 69px 4% 31%;
}
.navbar{
    padding: 0% 0 0% 0;
    border: 1px solid bisque;
    overflow: hidden;
    margin: 0px 5% 0px 5%;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 10px 10px 5px burlywood;
    position: sticky;
    top: 10px;
    
}

.navbar li:hover{
    text-decoration: underline 5px solid brown;
}

.logo{
    height: 3vh;
    padding-top: 0;
    width: 10px;
}

 .navbar h4{
   font-size: 20px;
   
}

.social{
    position: relative;
    float: right;
    padding: 0 5px 20px 20px;
}
.social i{
    padding: 0 0 0 30px ;
}

.welcome{
        display: inline-block;
        margin: 10% 27% 0 35%;
        background-color: #EBE3D5;
        border-radius: 10px;
        box-shadow: 20px 20px 5px  salmon;
}

.welcome h1{
    padding: 40px 40PX 40PX 40px;
    font-size: 100px;
    color: #776B5D;
}
.welcome p{
    padding: 0 20% 40px 20%;
}