@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.heading-msg h3{
    color: aqua;
}

.logo h1{
    color: rgb(240, 222, 218);
    font-size: 40px;
    font-family: Press+Start+2P&display=swap, sans-serif;
    padding: 25px 0 0 30px;
}
.navbar{
    padding: 0% 0 0% 0;
    overflow: hidden;
    margin: 0px 1% 0px 2%;
    background-color: transparent;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    
}

.navbar ul{
    padding:28px 69px 4% 31%;
}

.navbar ul li {
    float: left;
    list-style-type: none;
    padding: 0px 23px 0px 0;
    font-size: 20px;
    background-color: transparent;
    overflow: hidden;
    color: rgb(240, 222, 218);
}

.navbar li:hover{
    text-decoration: underline 5px solid aliceblue;
    color: aliceblue;
}

.logo{
    height: 5px;
    padding-top: 0;
    width: 5px;
}
.social{
    position: relative;
    float: right;
    padding: 0 8px 15px 25px;
}
.social i{
    padding: 0 0 0 30px ;
}

.message{
    display: inline-block;
    height: 3cm;
    width: 20cm;
    
    margin: 0% 0 0 5%;
}
.message h1{
    color: antiquewhite;
    font-size: 80px;
    font-style: oblique;
    font-display: ;
}
.welcome{
    display: inline-block;
        background-color: #001524;
        height: 13cm;
        width: 13cm;    
        border-radius: 50%;
        margin-left: 10%;
        box-shadow: 20px 20px 5px  whitesmoke;
        position: relative;
        animation: mymove infinite;
        animation-duration: 3s;
}

@keyframes mymove {
    from {
        top: 100px;
    }

    to {
        top: 50px;
    }
}
.welcome img{
    display: inline-block;
    height:13cm; 
    width: 13cm;
    border-radius:50%;
}